{% extends 'base.html' %}

{% block title %}
  Scrumptious recipes
{% endblock title %}

{% block content %}
  <header>
      <nav>
          <a href="{% url 'recipe_list' %}">Main page </a>
          {% if user.is_authenticated %}
            <a href="{% url 'create_recipe' %}"> Create a recipe</a>
            Hello, {{ user.username }}
            <a href="{% url 'my_recipe_list' %}">My recipes</a>
            <a href="{% url 'user_logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'signup' %}">Sign up</a>
            <a href="{% url 'user_login' %}">Login</a>
          {% endif %}
      </nav>
  </header>
  <main>
      <h1>Scrumptious Recipes</h1>
      <h2>All the food that's fit to eat</h2>
      <div class="container">
        {% for recipe in recipe_list %}
        <div>
          <h3>
            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
          </h3>
            <p>{{ recipe.created_on|date:"N j, Y"}}</p>
          <img src="{{ recipe.picture }}">
          <div>4.3 stars</div>
        </div>
        {% endfor %}
      </div>
  </main>
{% endblock content %}
