body {
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 18.5px;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #BF50A2;
}

a:hover {
    color: #B284BF;
}

nav {
    background-color: #D3D92B;
    border-bottom: 1px solid #6C8C3B;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(20, auto);
    gap: 10px;
}

nav a {
    margin-right: 10px;
    color: #6C8C3B;
}

main {
    padding: 16px;
    margin-bottom: 80px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px
}

table tr:nth-child(even) {
    background-color: lightgray;
}

h1 {
    color: #D94A70;
}

footer {
    background-color: #B284BF;
    color: #3d521e;
    padding: 24px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

img {
    width:200px;
    height:200px;
}

button {
    color: #D94A70;
    padding: 14px 24px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #f58da9;

}
